.carousel {
    overflow: hidden;
    width: 100%;
    height: 50vh;
}

.carousel-track {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
}

.carousel-image {
    flex: 1;
    margin: 0 5px;
    max-width: 100%;
    height: 50vh;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel {
        height: 40vh;
    }

    .carousel-image {
        height: 40vh;
    }
}

/* Mobile Devices */
@media (max-width: 480px) {
    .carousel {
        height: 30vh;
    }

    .carousel-image {
        height: 30vh;
    }

    .carousel-slide {
        flex: 0 0 100%;
    }
}